{#
/**
 * @file
 * This is the template file for the object page for audio file.
 *
 * @TODO: add documentation about file and available variables
 */
#}

<div class="islandora-audio-object islandora" vocab="http://schema.org/" prefix="dcterms: http://purl.org/dc/terms/" typeof="AudioObject">
  <div class="islandora-audio-content-wrapper clearfix">
    {% if islandora_content is defined %}
      <div class="islandora-audio-content">
        {{ islandora_content }}
      </div>
    {% endif %}
  </div>
  <div class="islandora-audio-metadata">
    {{ description }}
    {% if parent_collections %}
      <div>
        <h2>{{ 'In collections'|t }}</h2>
        <ul>
          {% for collection in parent_collections %}
            <li>
              <a href="{{ path('islandora.view_object', {'object' : collection.id}) }}">{{ collection.label }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {{ metadata }}
  </div>
</div>
